.contacts {
  padding-bottom: 60px;
}

.contacts__wrapper {
  max-width: 1045px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}

.contacts__text {
  width: 590px;
}

.contacts__text h3 {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 100px;
  margin-left: 30px;

  @media (max-width: 400px) {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 35px;
    text-align: center;
  }
}

.contacts__text p {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 70px;
  text-align: center;

  @media (max-width: 400px) {
    margin-bottom: 35px;
  }
}

.contacts__button {
  margin: 0 auto;
}

.contacts__socials {
  width: 300px;
  margin-top: 135px;

  @media (max-width: 400px) {
    margin-top: 70px;
  }
}

.contacts__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.contacts__item span {
  font-size: 24px;
  line-height: 24px;
  display: block;
  text-align: left;

  @media(max-width: 400px) {
    font-size: 18px;
    line-height: 18px;
  }
}

.contacts__email {
  margin-left: 30px;

  @media(max-width: 400px) {
    margin-left: 80px;
  }
}
