.fine {
  padding-top: 60px;
  padding-bottom: 60px;
}

.fine h2 {
  text-align: center;
  font-size: 32px;
  line-height: 32px;
  font-weight: 700;
  margin-bottom: 100px;

  @media (max-width: 380px) {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

.fine__image {
  text-align: center;
  display: block;
  margin: 0 auto;
}

.fine__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1065px;
  margin: 0 auto;
  margin-top: 100px;

  @media (max-width: 380px) {
    margin-top: 30px;
  }
}

.fine__wrapper p {
  font-size: 24px;
  line-height: 24px;
  width: 545px;

  @media (max-width: 380px) {
    font-size: 18px;
    line-height: 18px;
  }
}

.fine__button {
  height: 72px;
  width: 360px;
  margin-top: 50px;
  border-radius: 50px;

  @media (max-width: 400px) {
    width: 295px;
    margin-top: 35px;
  }
}
