.header {
  background-image: url("../img/fon-header.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0c0b10;
}

.header__wrapper {
  margin: 0 auto;
  display: flex;
  max-width: 1200px;
  padding-top: 200px;
  padding-bottom: 120px;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: 520px) {
    padding-top: 50px;
  }
}

.header__text {
  width: 50%;
  margin-left: 20px;

  @media (max-width: 1090px) {
    width: 525px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
  }
}

.header__text h1 {
  font-size: 42px;
  font-weight: 700;
  color: $white;
  line-height: 42px;
  text-transform: uppercase;

  @media (max-width: 520px) {
    font-size: 32px;
    line-height: 32px;
  }

  @media (max-width: 380px) {
    font-size: 30px;
    line-height: 30px;
  }
}

.header__text p {
  font-size: 24px;
  font-weight: 400;
  color: $white;
  line-height: 24px;
  margin-top: 50px;
  margin-bottom: 50px;

  @media (max-width: 380px) {
    font-size: 14px;
    line-height: 14px;
  }
}

.header__wrapper img {
  width: 525px;

  @media (max-width: 1050px) {
    margin: 0 auto;
  }
}
